body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius:20% ;
    border: 10px solid black;
    margin: 2.5rem;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.yellow{
    background-color: rgb(231, 231, 48);
}
.red{
    background-color: rgb(210, 39, 153);
}
.purple{
    background-color: rgb(214, 17, 214);
}
.green{
    background-color: rgb(44, 215, 44);
}

.flash{
    background-color: white;
}
.userFlash{
    background-color: aquamarine;
}